* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-family: sans-serif;
}
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 4rem 2rem;
    border: 2px solid aqua;
    border-radius: 0.5rem;
    .form-header,
    .form-text{
        text-align: center;
    }
    .form-group {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        label{
            color: white;   
        }
        input {
            font-size: 1.05rem;
            padding: 0.5rem 0.5rem;
            border-radius: 0.25rem;
            border: 1px solid aqua;
            outline: 1px solid aqua;
        }
    }
    button{
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        background-color: aqua;
        font-size: 1.1rem;
        cursor: pointer;
        &:hover{
            background-color: darken(aqua, 5%);
        }
    }
}
